html,
body {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  background: #4e337075;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
