
        @import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,600&display=swap");
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@580&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  align-items: center;
  font-family: "Cormorant Garamond", serif;
  background: #4e337075;
}

.rsvp-container {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url(../bg.png) no-repeat;
    background-position-x: center;
    background-size: contain;
  z-index: 3;
}

.rsvp-inner-container {
    min-height: 800px;
    position: relative;
    margin-left: 71px;
    z-index: 4;
    width: 74vw;
    top: 130px;
    background-color: #fcfcfc;
    /* margin: auto; */
    border: 2px solid #4e266f;
    border-radius: 5px;
    padding: 16px;
}

h1 {
  font-size: 28px;
  font-weight: semi-bold;
  margin: 30px 0 5px 0;
}

h2 {
    font-size: 3rem;
    margin: 0 0 20px 0;
    font-weight: bold;
    color: #1b0429;
}

fieldset {
  border: 0;
  margin-bottom: 20px;
}
.directions {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    text-align: center;
    color: #664987;
    padding-bottom: 30px;
}
.locator {
    padding-bottom: 30px;
    border-bottom: 2px dashed grey;
}
.link {
    font-size: 2rem;
    font-style: italic;
    position: relative;
    bottom: 40px;
    padding-right: 10px;
    color: #7857a5;
    font-weight: bold;
    min-width: 218px;
    display: inline-block;
    width: 62%;
}
